<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>play.music.action.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>play.music.action.Register</servlet-class> 
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addlove</servlet-name>
    <servlet-class>play.music.action.Addlove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addlove</servlet-name>
    <url-pattern>/addlove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deletelove</servlet-name>
    <servlet-class>play.music.action.Deletelove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletelove</servlet-name>
    <url-pattern>/deletelove</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Displaylove</servlet-name>
    <servlet-class>play.music.action.Displaylove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Displaylove</servlet-name>
    <url-pattern>/displaylove</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Findpassword</servlet-name>
    <servlet-class>play.music.action.Findpassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Findpassword</servlet-name>
    <url-pattern>/findpassword</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>