#main{
 margin-top:4%;
 margin-right:54%;


}
#artmusics{
      margin-left:9%;
      margin-right:30%;
      margin-top:4%;
	  margin-bottom:6%
     /*  background:#A4D3EE; */
}
#searchplaces{
 
 margin-left:10%;
 margin-right:48%;
 margin-top:2%;
/*  background:#7EC0EE; */
}
#insert{
 float:right;
 margin-right:6%;
 margin-top:2%;
 margin-left:10%;
}
