#display{
  margin-top:1.6%;
  margin-left:14%;
  margin-right:14%;
  margin-bottom:4%;
  
}
#musictips{
   margin-left:14%;
   margin-right:4%;
   margin-top:1%;
}
#info{
 float:left;
 font-size:16px;
}
#infos{
 margin:10px;
}
img{
 height:120px;
 width:120px;
}
#image{
 float:left;
}
#title{
clear:both;
float:left;
}
#progressbar{
  margin-left:30%;
  margin-top:4%;
  margin-right:36%;
}
 .ui-progressbar .ui-progressbar-value { background-image: url(pbar.gif);}
#error2{
 margin-left:44%;
 color:red
}