#collection{
 height:70px;
 background:#e5ebe4;
 border:0px;
 font-family: 'Rancho', cursive;
 }
 #co{
  font-family: 'Rancho', cursive;
  font-size: 35px;
  margin-left:300px;
  padding-top:12px;
  width:60%;
  clear:both;
  float:left;
  line-height:26px
 
}