#placepause{
	height:2%;
}
#wapper{
	width: 90%;
	height:70%;
    margin: 0 auto;
   /* background:#FFE7BA*/
}
#contents{
	 overflow:auto; zoom:1;
	 width:98%;
	 height:100%;
	 margin:1px auto;
	 background:#e5ebe4;
	 border-top:white;
	 border-top-width:2px
	 
}
#leftcontents{
	width:85%;
	height:100%;
	magrin-bottom:40px;
	float:left;
	padding-right:40px;
	background:#C7EDCC;
	margin:0px;	
}
#rightcontents{
 
}
.ontitle{
	background:#6ebfc3;
	color:white;
}
ul{
margin-right:4px;
margin-top:4px;
margin-bottom:4px;
list-style-type: none;
margin: 0;
padding: 0;
margin-left:14px;
}
ul li{
  margin-right:0px;	
  display:block;
}

