 #loginemail{
	 width:220px;
	 height:50px;
	 padding:6px;
	 font-family:Microsoft YaHei;
	 font-size:14px;
	 }
#loginaction{
	 width:100px;
	 height:50px;
	 padding:6px;
	 font-family:Microsoft YaHei;
	 font-size:14px;
	 margin-left:18%;
	 margin-top:1%;
}
#loginbox{
	 margin-left:26%;
	 margin-top:8%;
	 margin-right:32%;
	
	
}



