.suggest-container {
    border: 1px solid #C1C1C1;
    visibility: hidden;
    background: #FFFFFF;
}
.suggest-item, .suggest-active {
    padding: 5px;
}
.suggest-active {
    background: #222;
    color: white;
} 
#loginemail{
	 width:220px;
	 height:50px;
	 padding:6px;
	 font-family:Microsoft YaHei;
	 font-size:14px;
	 margin:2px;
	 }
#loemail{
	 width:220px;
	 height:50px;
	 padding:6px;
	 font-family:Microsoft YaHei;
	 font-size:14px;
	 margin:2px;
	 }	
#loemail1{
	 width:220px;
	 height:50px;
	 padding:6px;
	 font-family:Microsoft YaHei;
	 font-size:14px;
	 margin:2px;
	 }	 	  
#loginaction{
	 width:100px;
	 height:50px;
	 padding:6px;
	 font-family:Microsoft YaHei;
	 font-size:14px;
	 margin-left:26%;
	 margin-top:6px;
	 border-radius:10px;
	 background:#B2DFEE;
	 border:none;
	 
}
#loginbox{
	 margin-left:26%;
	 margin-top:8%;
	 margin-right:32%;
	
	
}



