#artpic{
      margin-left:30%;
      margin-right:40%;
      margin-top:6%;
     /*  background:#A4D3EE; */

}
#biaoti{
  font-size:25px;
  font-family: 'The Girl Next Door', cursive;
}
ul li { 
      list-style:none;
      height:30px; 
      float:left;  
      display:inline; 
	 }

#searchplace{
 margin-left:30%;
 margin-right:38%;
 margin-top:2%;
/*  background:#7EC0EE; */
}
#searchimg{
height:20px;
width:20px;
margin-top:4px;
margin-right:1px;
}