*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
	color:#333;
}
li{
	list-style-type:none;
}
html{
	height:100%;
	width:100%;
}
body{
	height:100%;
	width:100%;
	font-family:"微软雅黑";
	color:#333;
	text-shadow:0 0 20px #ccc;
	font-size:14px;
}
/*ua*/
#no-sup{
	background:#333 url(../images/nosup.jpg) center center no-repeat;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
/*zbox*/
#out-box{
	height:500px;
	width:650px;
	box-shadow:0 0 15px #222 inset;
	-webkit-box-shadow:0 0 15px #222 inset;
	-moz-box-shadow:0 0 15px #222 inset;
	background:#eee url(../images/bg.jpg) center center no-repeat;
	position:absolute;
	left:50%;
	top:50%;
	margin:-250px 0 0 -325px;
	overflow:hidden;
}
/*fileupload*/
.file-up-load-1{
	display:block;
	height:150px;
	width:450px;
	position:absolute;
	bottom:60px;
	right:100px;
	z-index:10;
	opacity:0;
	cursor:pointer;
}
.file-up-load-2{
	display:block;
	height:40px;
	width:40px;
	position:absolute;
	bottom:10px;
	right:10px;
	z-index:10;
	opacity:0;
	cursor:pointer;
}
/*player*/
#playerbox{
	height:70px;
	width:600px;
	position:absolute;
	top:50px;
	left:50%;
	margin-left:-300px;
}
#playerbox *{
	display:block;
	float:left;
	box-shadow:0 0 10px #666;
	-webkit-box-shadow:0 0 10px #666;
	-moz-box-shadow:0 0 10px #666;
	background:#333;
}
#playerbox audio{
	display:none;
}
#playerbox *:hover{
	box-shadow:0 0 10px pink;
	-webkit-box-shadow:0 0 10px pink;
	-moz-box-shadow:0 0 10px pink;
}
#playerbox-play{
	height:62px;
	width:62px;
	border-radius:70px;
	-webkit-border-radius:70px;
	-moz-border-radius:70px;
	border:4px solid #333;
}
#playerbox .playerbox-play-isplay-true{
	background:url(../images/play.jpg) center center;
}
#playerbox .playerbox-play-isplay-false{
	background:url(../images/pause.jpg) center center;
}
#range{
	height:4px;
	width:420px;
	margin-top:33px;
	cursor:pointer;
	background:#666;
}
#range-timer{
	height:100%;
	width:0px;
	background:#333;
	position:relative;
}
#range-timer b{
	background:#333;
	display:block;
	height:10px;
	width:10px;
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	position:absolute;
	right:-5px;
	top:-3px;
	
}
.mode{
	height:25px;
	width:25px;
	border-radius:25px;
	-webkit-border-radius:25px;
	-moz-border-radius:25px;
	margin-top:18px;
	border:4px solid #333;
	margin-right:2px;
}
#playerbox-mode-1{
	background:url(../images/mode1.jpg) center center;
}
#playerbox-mode-inorder{
	background:url(../images/mode0.jpg) center center;
}
#playerbox-mode-outorder{
	background:url(../images/mode2.jpg) center center;
}
#playerbox .smode{
	height:30px;
	width:30px;
	border-radius:30px;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	margin-top:16px;
}
/*songinfo*/
#song-info{
	width:600px;
	position:absolute;
	top:120px;
	left:50%;
	margin-left:-300px;
	text-align:center;
}
#song-info h1{
	text-shadow:0 0 10px #000;
	display:inline;
	background:#333;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	color:#fff;
	padding:0 20px;
}
/*songlist*/
#listbox{}
#play-list{
	width:300px;
	background:#fff;
	position:absolute;
	right:10px;
	top:120px;
	bottom:50px;
	box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-webkit-box-shadow:0 0 10px #999;
	overflow:auto;
	display:none;
}
#play-list li,#play-list b{
	display:block;
	padding:5px 5px 5px 10px;
	border-left:8px solid #ccc;
	cursor:pointer;
	position:relative;
}
#play-list li i{
	position:absolute;
	right:10px;
	display:block;
	width:16px;
	height:16px;
	top:50%;
	margin-top:-8px;
}
#play-list li:hover{
	border-color:pink;
	background:#ccc;
}
#drag-node{
	box-shadow:0 0 10px #999;
}
.now-play{
	background:#ddd;
}
#show-list,#add-list{
	height:40px;
	position:absolute;
	bottom:10px;
	display:block;
	background:#eee;
	line-height:40px;
	text-align:center;
	box-shadow:0 0 10px #999;
	-moz-box-shadow:0 0 10px #999;
	-webkit-box-shadow:0 0 10px #999;
	font-size:20px;
	font-weight:bold;
	letter-spacing:-1px;
}
#show-list{
	width:100px;
	right:60px;
}
#add-list{
	width:50px;
	right:10px;
}
#show-list:hover,#add-list:hover{
	text-shadow:0 0 40px #000;
}
/*change bg img*/
#change-bg-file,#change-bg-txt{
	display:block;
	position:absolute;
	bottom:60px;
	left:10px;
	height:20px;
	width:200px;
	letter-spacing:-1px;
	color:#333;
	text-shadow:0 0 20px #fff;
	cursor:pointer;
}
#change-bg-file{
	opacity:0;
}
/*knowmore*/
#know-more{
	display:block;
	height:40px;
	position:absolute;
	bottom:10px;
	left:10px;
	display:block;
	background:#eee;
	line-height:40px;
	text-align:center;
	box-shadow:0 0 10px #333;
	-moz-box-shadow:0 0 10px #333;
	-webkit-box-shadow:0 0 10px #333;
	font-size:20px;
	font-weight:bold;
	padding:0 10px;
	letter-spacing:-1px;
	max-width:500px;
	overflow:hidden;
}
#know-more:before{
	content:'More about ';
	font-size:16px;
	font-weight:normal;
}
#know-more:hover{
	text-shadow:0 0 40px #000;
}
/*cover*/
#cover{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:#333;
	opacity:0.8;
}
#first-box{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
#first-box p{
	width:500px;
	height:250px;
	margin:35px auto 5px auto;
	
	color:#fff;
	font-size:16px;
	text-shadow:0 0 10px #000;
}
#first-box p strong{
	font-size:20px;
}
#first-box p a{
	text-decoration:underline;
	color:#eee;
}
#first-box div{
	width:450px;
	height:150px;
	line-height:150px;
	background:#fff;
	margin:0 auto;
	text-align:center;
	font-size:45px;
	letter-spacing:5px;
	box-shadow:0 0 20px #000;
	-moz-box-shadow:0 0 20px #000;
	-webkit-box-shadow:0 0 20px #000;
	text-shadow:0 0 50px #ccc;
}
/*footer*/
#footer{
	width:500px;
	height:20px;
	position:absolute;
	left:50%;
	top:50%;
	margin:250px 0 0 -250px;
	text-align:center;
}
/*google*/
#searchcontrol{
	width:550px;
	margin:0 auto;
	margin-top:170px;
	text-align:center;
	min-height:200px;
}
#searchcontrol li{
	display:inline-block;
	height:110px;
	width:120px;
	text-align:center;
	vertical-align:middle;
}
#searchcontrol img{
	background:#fff;
	border:3px solid #444;
	box-shadow:0 0 10px #666; 
	-moz-box-shadow:0 0 10px #666;
	-webkit-box-shadow:0 0 10px #666;
	vertical-align:middle;
	display:inline-block;
	max-height:100px;
	max-width:100px;
}