@CHARSET "UTF-8";
  #replynumber, #scanumber{
	color:#fff;
	font:bold 10px/18px Arial, Helvetica, sans-serif;
	width:60px;
	height:20px;
	margin:2px;
 }
  table{
     margin-left:10px;
     background:#e5ebe4;
     width:96%;
     height:80px;
    }
  tr{
     display:block;
   }
 #leftside{
    margin-left:14px;
    margin-right:14px;
    height:56px;
    width:100%;
    } 
  
 #lefthand{
   height:56px;
   width:100%;
 }

 
.keejun_title, .keejun_back, .keejun_time {
	display:inline-block;
	padding:3px;
}
.keejun_title{
	display:block;/*内联对象需加*/
    width:31em;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis
 }
.keejun_time {
	 margin-left:500px;
	 font-size:10px;
 	color:gray;

}
a:hover{
	background:#7EC0EE;
	color:white;
	TEXT-DECORATION:none;
}
#scanumber,#replynumber{
	background:#6ebfc3
}

















