@CHARSET "UTF-8";
  #replynumber, #scanumber{
	color:#fff;
	font:bold 10px/18px Arial, Helvetica, sans-serif;
	width:60px;
	height:20px;
	background: #4c95cd;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjOTVjZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzc4YmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #4c95cd 0%, #3c78ba 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c95cd), color-stop(100%,#3c78ba));
	background: -webkit-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: -o-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: -ms-linear-gradient(top,  #4c95cd 0%,#3c78ba 100%);
	background: linear-gradient(to bottom,  #4c95cd 0%,#3c78ba 100%);
	 text-align:center;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
    margin-right:4px;
 }
  table{
     margin-left:10px;
     background:#e5ebe4;
     width:96%;
     height:80px;
    }
  tr{
     display:block;
   }
 #leftside{
    margin-left:14px;
    margin-right:14px;
    height:56px;
    width:100%;
    } 
  
 #lefthand{
   height:56px;
   width:100%;
 }

 
.keejun_title, .keejun_back, .keejun_time {
	display:inline-block;
	padding:3px;
}
.keejun_title{
	display:block;/*内联对象需加*/
    width:31em;
    word-break:keep-all;/* 不换行 */
    white-space:nowrap;/* 不换行 */
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis
 }
.keejun_time {
	 margin-left:500px;
	 font-size:10px;
 	color:gray;

}
a:hover{
	background:#7EC0EE;
	color:white;
	TEXT-DECORATION:none;
}
#scanumber,#replynumber{
	background:#6ebfc3
}

















